.photo1 img {
	width: 1020px;
}

.photo1 {
	margin-bottom: 30px;
}

.photo3 {
	float: right;
	width: 78%;
}

.photo2 {
	float: left;
	width: 20%;
}

.photo1, .photo2, .photo3 {
	overflow: hidden;
}

.photo2 img, .photo3 img  {
	width: 100%;
}

.photo1 img, .photo2 img, .photo3 img {
	transition: 1s; 
    display: block;
}

.photo2 img:hover, .photo3 img:hover, .photo1 img:hover {
	transform: scale(1.2)
}
